* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    filter:
        saturate(1.25) hue-rotate(0deg) brightness(1.1) contrast(1);
}